{% extends 'base.html' %}
{% load humanize %} 
{% load tabs %}
{% block navigation %}
{% tab "nav" "dashboard" %}
{{ block.super }}
{% endblock %}
{% block extrahead %}
<style>
.chart{background:#f5f5f5; border:solid 1px #e6e6e6; margin-bottom:15px; height:178px}
.panel {background:#ffffff; padding:5px 10px; border:solid 1px #e6e6e6; padding-bottom:20px; margin-bottom:20px;}
.chart span{margin:15px; display:block}
.nav li a{color:#3366cc}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(drawSalesChart);
	      
	function drawSalesChart() {
		$.getJSON('/customers/stats', function(resp){
			try{
				var total = resp.total;
				$('#totalsales').html(total.totalsales)
				$('#totalpaid').html(total.totalsales - total.totaldue)
				$('#totaldue').html(total.totaldue)
			}catch(ex){
				
			}
			try{
				var sales = resp.sales;
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Customer');
				data.addColumn('number', 'total');
				$.each(sales, function(i, r){
					data.addRow([r.name, r.total])
				});
				var options = {'title':'Top 10 Customers by Total Sales', backgroundColor:'transparent',
				chartArea:{left:10,top:30,width:"95%",height:"75%" }};
				var chart = new google.visualization.PieChart(document.getElementById('saleschart_div'));
				chart.draw(data, options);
			}catch(ex){
				document.getElementById('saleschart_div').html("Unable to load chart");
			}	
			
			try{
				var due = resp.due;
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Customer');
				data.addColumn('number', 'due');
				$.each(due, function(i, r){
					data.addRow([r.name, r.due])
				});
				var options = {'title':'Top 10 Customers by Balance Due', backgroundColor:'transparent',
				chartArea:{left:10, top:30,width:"95%",height:"75%"}};
				var chart = new google.visualization.PieChart(document.getElementById('duechart_div'));
				chart.draw(data, options);
			}catch(ex){
				document.getElementById('saleschart_div').html("Unable to load chart");
			}	
			/*
			try{
				var invoices = resp.dailyinvoices;
				var data = new google.visualization.DataTable();
				data.addColumn('date', 'Date');
				data.addColumn('number', 'Invoices Created');
				$.each(invoices, function(i, r){
					data.addRow([ new Date(r.date), r.count])
				});
				var options = {'title':'Invoices Created in Last 15 Days', backgroundColor:'transparent',
				chartArea:{left:40, top:30,width:"70%",height:"50%"}}
				
				var chart = new google.visualization.ScatterChart(document.getElementById('invoicechart_div'));
				chart.draw(data, options);
			}catch(ex){
				alert(ex)
				document.getElementById('invoicechart_div').html("Unable to load chart");
			}	
			*/
		});
    }
		
    </script>
  {% endblock %}  
{% block content %}



<h3 class="title">EABL PROMO </h3>
	<hr/>
	<div class="row-fluid" style="margin-top:15px">
		
		
		
		
		<div class="span4">		

			<h4><i class="icon-hand-right"></i> Statistics</h4>
			<table class="table table-hover table-condensed">
				<tbody>
                <tr><td><a href="{% url 'viewsubs' %}">Subscribers</a></td><td style="text-align:center">{{sub_count}}</td></tr>
                {% if 0 %}
				<tr><td><a href="{% url 'users' %}">User Accounts</a></td><td style="text-align:center">{{count}}</td></tr>
				{% endif %}
				</tbody>
			</table>
			<hr/>
            {% if 0 %}
			<h4><i class="icon-hand-right"></i> Billing</h4>
			<table class="table table-hover table-condensed">
				<tbody>
				<tr><td>Total Invoiced</td><td style="width:100px; text-align:right">$ <span id="totalsales"></span></td></tr>
				<tr><td>Payments Received</td><td style="text-align:right">$ <span id="totalpaid"></span></td></tr>
				<tr><td>Payments Due</td><td style="text-align:right">$ <span id="totaldue"></span></td></tr>
				</tbody>
			</table>
            {% endif %}
		</div>
		<div class="span4 offset1">
            {% if 0 %}
			<div class="chart" id="saleschart_div"><span><i class="icon-spinner icon-spin"></i> Loading Visualization...</span></div>
			<div class="chart" id="duechart_div"><span><i class="icon-spinner icon-spin"></i> Loading Visualization...</span></div>
            {% endif %}
		</div>
		
		
		</div>
	
{% endblock %}